{% extends "rest_framework/login_base.html" %}

    {% block title %}
        Task Management System - API Endpoints Login
    {% endblock title %}

    {% comment %}
        CDN : https://www.bootstrapcdn.com/bootswatch/
    {% endcomment %}

    {% block bootstrap_theme %}
        <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/yeti/bootstrap.min.css" 
        type="text/css">
    {% endblock bootstrap_theme %}

    {% block branding %}
        <h3 style="margin: 0 0 20px; text-align: center;">Task API Login</h3>
    {% endblock branding %}